
body, html{
    height: 100%;
}

.add-car-container{
    max-width: 120rem;
    height: 100vh;
    margin-top: -10px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(to right ,rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 40%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.3) 100%) ,url(./img/addcar.jpg) center no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
}

.add-car-heading{
    color: white;
    padding-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

/* ova poruka mora skroz responivno da se uradi na 2 ekrana */

.car-added{
    box-sizing: border-box;
    width: 40rem;
    height: 25rem;
    background-color:rgba(255,255,255,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    padding:3.5rem;
    opacity: 0;
}
.car-added h1{
    text-align: center;
    line-height: 5rem;
    font-size: 4rem;
    color: white;
}

.car-added a{
    margin: 3rem auto;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
}

#add-car-form{
    width: 30%;
    background-color: rgba(255,255,255,0.4);
    border-radius: .5rem;
    color: white;
    position: absolute;
    left: 2%;
    top: 15%;
}

#add-car-form input{
    width: 80%;
    margin-left: 10%;
    border-radius: .5rem;
    border: none;
    text-align: center;
}

#add-car-form label{
    margin-left: 10%;
}


#submit{
    margin-left: 10%;
    border: none;
    border-radius: .5rem;
    width: 80%;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
}

#login-prompt{
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    font-weight: bold;
    
}


#login-prompt a {
    text-decoration: none;
    color: lightgreen;
}

.required{
    color: red;
}


.vanish{
    animation: vanish 0.7s;
    animation-fill-mode: forwards;
    
}

.appear{
    animation: appear 0.7s 0.5s;
    animation-fill-mode: forwards;
}

@keyframes vanish {
    0%{ opacity: 1; transform: translateX(0);}
    100%{opacity: 0; transform: translateX(-100%);}
}

@keyframes appear {
    0%{ opacity: 0;}
    100%{opacity: 1;}
}



@media only screen and (max-width:992px){

    .add-car-container{
        height: 130vh;
    }

    #add-car-form{
        width: 50%;
        background-color: rgba(255,255,255,0.4);
        border-radius: .5rem;
        color: white;
        position: absolute;
        left: 2%;
        top: 12rem;
    }

}

@media only screen and (max-width:768px){

    #add-car-form{
        width: 70%;
        background-color: rgba(255,255,255,0.4);
        border-radius: .5rem;
        color: white;
        position: absolute;
        left: 15%;
        top: 12rem;
    }


}

@media only screen and (max-width:576px){

    .add-car-container{
        padding-top: 2.5rem;
    }

    #add-car-form{
        width: 80%;
        background-color: rgba(255,255,255,0.4);
        border-radius: .5rem;
        color: white;
        position: absolute;
        left: 10%;
        top: 8rem;
    }

    .add-car-heading{
        text-align: start;
        font-size: 2.5rem;
        margin-left: 10%;
    }

    .car-added{
        box-sizing: border-box;
        width: 35rem;
        height: 22rem;
        background-color:rgba(255,255,255,0.4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1.5rem;
        padding:3.5rem;
        opacity: 0;
    }

    .car-added h1{
        font-size: 3rem;
    }

    .car-added a{
        border-radius: 3px;
        width: 50%;
        height: 20%;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        font-weight: bold;
    }

}