.hidden{
    display: none;
}


.is-sold{
    width: 50%;
    height: 9%;
    background-color: red;
    color: white;
    font-weight: bold;
    position: absolute;
    top:10px;
    left:-35px;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);

}

.bold{
    font-weight: bold;
}

.carlist-container{
    max-width: 120rem;
    margin: 0 auto;
    background-color: white;
    position: relative;
}


.main-heading{
    height: 28rem;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)) ,url(./img/heading.jpg) no-repeat center;
    background-size: cover;
    padding-left: 15%;

}


.car-search{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


.form-group-brand{
    position: relative;
}



.form-group-brand input{
    width: 30rem;
    height: 4rem;
    margin-right: 1.5rem;
    border-radius: 5rem;
    border: none;
    padding-right: 4rem;
    padding-left: 4rem;
    font-size: 1.92rem;
}

.form-group-brand i{
    position: absolute;
    right: 3.5rem;
    top: 1.1rem;
    font-size: 2rem;
    color: #383838;
}

.form-group-price{
    font-size: 1.92rem;
    padding-left: 2.5rem;
}

.form-group-price input{
    width: 13rem;
    height: 4rem;
    margin-right: 1.5rem;
    border-radius: 5rem;
    border: none;
    padding: 0 1.5rem;
    font-size: 1.92rem;
}

.form-group-price input[type="submit"]{
    width: 10rem;
}
.form-group-price input:focus{
    border: none;
}

.form-group-price input[type="submit"]{
    color: white;
    background-color: rgb(231, 75, 48);
}


.sale-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 110rem;
    margin: 2rem auto;
    padding: 2rem;
}

.car-card{
    /* border: 1px solid tomato; */
    box-shadow: 2px 6px 1.5rem rgba(255, 255, 255, 0.4);
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.carlist-image{
    width: 100%;
    height: 23rem;
}


.carlist-about{
    width: 100%;
    padding:2rem;
}

.carlist-buttons{
    width: 100%;
    height: 7rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
}


.see-more{
    position: absolute;
    width: 45%;
    bottom: 1rem;
    left: 1rem;
    height: 12%;
    padding: 0;
    font-size: 1.76rem;
    padding: 0 1rem;
    border:none;
    border-radius: .5rem;
    background-color: black;
    color: white;
    cursor: pointer;
}


.buy-car, .delete-car{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 45%;
    height: 12%;
    font-size: 1.92rem;
    border: none;
    background-color: saddlebrown;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}


.delete-car{
    background-color: red;

}

.buy-car:active{
    background-color: red;
}



.loading-text{
    position: absolute;
    top: 40%;
    left: 50%;
}

.more-info-section{
    position: relative;
}

.more-info-cancel{
    position: absolute;
    background-color: transparent;
    top: 2rem;
    left: 1rem;
    font-size: 5rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    overflow: hidden;
}


.car-details{
    height: 40rem;
    background-color:rgba(255,255,255,0.7);
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    
}

.car-details-image {
    margin: auto 0;
    width: 60%;
    height: 100%;
    max-height: 100%;
    flex-grow: 2;
    padding-left: 7rem;
    display: flex;
    justify-content: flex-end;
}

.car-details-image img{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 100%;
    
}

.car-details-text{
    width: 30%;
    padding: 5rem;
}

.car-details-text > p{
    font-size: 2.08rem;
}

.wiki-heading{
    height: 10rem;
    background-color:rgba(255,255,255,0.7);
    padding-left: 3rem;
    color: #272727;
}

.wiki-image{
    width: 40%;
    margin: 3rem auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.wiki-image img{
    width: 100%;
    max-height: 25rem;
}

.more-info-wiki{
    min-height: 35rem;
    padding:3.5rem;
}

.read-more{
    color: blue;
}

#more-info-spinner{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    border-top: 4px solid blue;
    border-right: 2px solid transparent;
    animation: spinner 0.9s linear infinite;
}

@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}



/* test */

#buy-checkout{
    height: 100vh;
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
}
.first-row{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: bold;
    padding: 0 5rem;
}

.first-row > div{
    width: 33%;
    text-align: center;

}

.second-row{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.second-row > div{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buy-checkout-image img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.35);
}

.buy-checkout-heading{
    text-align: center;
}

#buy-checkout-table{
    font-size: 2rem;
    margin: 10rem;
}


.buy-checkout-buttons{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}


.buy-checkout-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 6rem;
    font-size: 3.5rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(0,0,0,0.35);
    text-transform: none;
    cursor: pointer;
}

.buy-cancel{
    background-color:rgba(206, 76, 76);
    color: white;
}

.buy-approve{
    background-color: rgb(88, 106, 206);
    color: white;
}

@media only screen and (max-width:992px){

    .car-search{
        /* padding-top: 2rem;
        padding-bottom: 2rem;
        margin: auto;
        background-color: #dfdfdf; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    
    }

    .form-group-price{
        align-self: flex-start;
        margin-top: 2rem;
        padding-left: 1.5rem;
    }

    .form-group-price input{
        width: 9rem;
        height: 3.5rem;
        margin-right: 1.5rem;
        border-radius: 5rem;
        border: none;
        padding: 0 1.5rem;
        font-size: 1.72rem;
    }

    .sale-container{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .car-details{
        height: 30rem;        
    }

    .car-details-text > p{
        font-size: 1.8rem;
    }

    .car-details-big{
        font-size: 2.5rem;
    }

    .wiki-image{
        width: 50%;
        margin: 3rem auto;
    }

    #buy-checkout-table{
        font-size: 2rem;
        margin: 5rem;
    }

    .buy-checkout-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19rem;
        height: 4.5rem;
        font-size: 2.7rem;
        border-radius: 10px;
        border: none;
        text-transform: none;
        cursor: pointer;
    }

    #buy-checkout{
        height: 100vh;
        width: 90%;
        margin: 0 auto;
    }

}

@media only screen and (max-width:768px){

    .sale-container{
        width: 95%;
    }

    
.car-details{
    height: auto;
    display: flex;
    flex-direction: column;
}

.car-details-image{
    width: 80%;
    align-self: center;

}

.car-details-text{
    width: 70%;
}

.wiki-image{
    width: 60%;
    margin: 3rem auto;
}

#buy-checkout{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

}

@media only screen and (max-width:576px){

    .form-group-price input{
        width: 7rem;
        height: 3.5rem;
        margin-right: 1.5rem;
        border-radius: 5rem;
        border: none;
        padding: 0 1rem;
        font-size: 1.60rem;
    }

    #buy-checkout{
        height: auto;
    }

    .buy-checkout-heading{
        font-size: 2.5rem;
        width: 70%;
        margin: 0 auto;
    }


    .sale-container{
        width: 80%;
        grid-template-columns: 1fr;
    }

    .car-details-image{
        width: 100%;
        padding-left: 0;
        margin-top: 5rem;
    }

    .car-details-image img{
        width: 100%;
    }

    .wiki-image{
        width: 70%;
        margin: 3rem auto;
    }

    .first-row{
        display: none;
    }

    .second-row{
        flex-flow: column;
        width: 80%;
    }

    .second-row > div{
        width: 100%;
        margin-bottom: 5rem;
        font-size: 3rem;
    }

    .buy-checkout-buttons{
        display: flex;
        flex-flow: column;
    }

    .buy-checkout-button{
        width: 80%;
        margin: 1rem auto;
    }

  
}



/* OSTALO JE ODRADITI TABELU DO 576px */