@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #272727;
  font-size: 1.6rem;
}

.darken-hidden{
    display: none;
}

.darken-visible{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10;
    display: block;
    background-color: rgba(0,0,0);
    opacity: 0.65;
    animation: darkenScreen .7s;
}

@keyframes darkenScreen {
    0%{opacity: 0;}
    100%{opacity: 0.65;}
}

.main-container {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

a {
  text-decoration: none;
  /* text-transform: uppercase; */
}

ul {
  list-style-type: none;
}

.auth-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  background-color: white;

  /* background-color: black; */
}

.logo {
  width: 12rem;
  height: 4.8rem;
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.016);
}

.logo img {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 0.2rem;
}

.logo p {
  margin: 1px auto;
  color: rgb(85, 9, 9);
}

.authentification-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.authentification-buttons > button {
  height: 3.5rem;
  width: 7rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.authentification-buttons .login-btn {
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.authentification-buttons .register-btn {
  width: 12rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  /* margin-top: 3rem; */
  font-size: 1.76rem;
  background-color: black;
  text-transform: uppercase;
  /* background-color: black; */
  height: 5rem;
}

.navigation > ul {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  font-size: bold;
  color: white;
  transition: all 0.7s;
}

.navigation a:hover {
  color: rgb(255, 81, 0);
}

.active {
  color: rgb(255, 81, 0);
}

.hamburger {
  display: none;
}

.small-nav {
  display: none;
}

#user-registration-heading,
#user-login-heading {
  text-align: center;
}

@keyframes moveInFromRight {
  0% {
    right: -50rem;
    opacity: 0;
  }
  90% {
    right: 2rem;
    opacity: 0.7;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

#user-registration,
#user-login {
  border: none;
  border-radius: 0.5rem;
  width: 35%;
  margin-top: 2rem;
  position: absolute;
  top: 11rem;
  right: 1rem;
  /* text-align: center; */
  animation: moveInFromRight 0.8s;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 100;
}

#user-registration input,
#user-login input {
  border-radius: 2.5rem;
  border: none;
  padding-left: 1rem;
  margin-top: 1rem;
}
#user-registration input[type="submit"],
#user-login input[type="submit"] {
  background-color: rgba(80, 0, 0, 0.9);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#user-registration input[type="submit"]:disabled {
  background-color: rgba(255, 255, 255, 0.2);
  color: gray;
}

.cancel-auth-form {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 20.8px;
  border-radius: 1rem;
  border: 1px solid darkred;
  background-color: transparent;
  color: darkred;
}

.form-group {
  margin-top: 1.5rem;
}

.form-group > label {
  display: flex;
  justify-content: flex-start;
  font-size: 2.08rem;
}

.form-group > input {
  width: 100%;
  height: 3.5rem;
  font-size: 1.92rem;
}

.checkbox-agree {
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkbox-agree label {
  font-size: 1.52rem;
}

#agree-terms {
  width: 7%;
  margin: 1rem;
  align-items: center;
}

.reg-buttons {
  display: flex;
  justify-content: space-between;
}

.reg-buttons > input {
  width: 40%;
}

.reg-buttons #submit-reg {
  flex-grow: 5;
  margin-right: 1rem;
}

.reg-buttons #cancel-reg {
  width: 20%;
  background: none;
  font-size: 24px;
  color: red;
}

#main-image {
  width: 100%;
  height: 58rem;
  transform: skew();
  background: linear-gradient(
      105deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(./img/croppedM3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

#main-image-content {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 35%;
}

#main-image-content h1 {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
}

#main-image-content p {
  margin-top: 2rem;
  letter-spacing: 1.5px;
  padding-bottom: 1.5rem;
}

#main-image-content .line {
  width: 20%;
  height: 2px;
  background-color: white;
  margin-bottom: 3rem;
}

#main-image-content a {
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(88, 106, 206);
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 1rem 2rem;
}

#main-image-content a:hover {
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(206, 76, 76);
  font-size: 1.5rem;
  line-height: 3rem;
  padding: 1rem 2rem;
}

/* CAR NEWS */

#car-news {
  display: flex;
  height: 35rem;
}

#car-news .text-content {
  box-sizing: border-box;
  width: 50%;
  background-color: rgba(97, 146, 192, 0.146);
}

#car-news .image {
  width: 50%;
}

#car-news .image img {
  width: 100%;
  height: 100%;
}

#car-news-heading {
  text-align: center;
  letter-spacing: 1.3px;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

#car-news-heading2 {
  padding-left: 10%;
  letter-spacing: 1.3px;
  width: 70%;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.line-black {
  width: 30%;
  margin-left: 10%;
  height: 2px;
  background-color: black;
}

#car-news-text {
  padding-left: 10%;
  width: 80%;
  text-align: justify;
  margin-top: 1.5rem;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}
.read-more-news {
  margin-left: 10%;
  border: 1px solid rgb(126, 124, 124);
  padding: 7px 1.2rem;
  letter-spacing: 1.2px;
  color: black;
  text-transform: none;
}
.read-more-news:hover {
  /* background-color: rgb(88, 106, 206);
     */
  background: rgba(206, 76, 76);
  color: white;
  border: none;
}

/* ABOUT */
#about {
  display: flex;
  height: 35rem;
}

.about-image {
  width: 50%;
  background: url(img/about-keys.jpg) center no-repeat;
  /* filter: blur(2px); */
  background-size: cover;
}

.about-text {
  width: 50%;
  padding: 7rem;
  letter-spacing: 1.5px;
  background: rgba(206, 76, 76);
  background-position: center;
  color: white;
  background-size: 450px;
  background-repeat: no-repeat;
}

.about-heading {
    text-transform: uppercase;
    font-size: 3.2rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
  }

#about-image {
  background-color: black;
}


/* FOOTER */
#footer {
  height: 12rem;
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer a {
  color: black;
}

#footer h4 {
  align-self: flex-end;
  font-size: 1.5rem;
}

.right {
  width: 30%;
}

@media only screen and (max-width: 992px) {
  .navigation > ul {
    width: 85%;
  }

  #user-registration,
  #user-login {
    border: none;
    border-radius: 0.5rem;
    width: 35%;
  }

  #car-news-heading{
      font-size: 2rem;
  }

  #car-news-heading2 {
    font-size: 1.5rem;
  }

  #car-news-text{
      font-size: 1.3rem;
  }

  .read-more-news {
    margin-left: 10%;
    border: 1px solid rgb(126, 124, 124);
    padding: 5px 1rem;
    /* letter-spacing: 1.2px; */
    color: black;
    text-transform: none;
  }

  .about-heading {
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
  }

  .about-text{
      font-size: 1.3rem;
      padding: 5rem;
  }

  #footer{
      font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigation > ul {
    width: 100%;
  }

  #main-image {
    background: linear-gradient(
        105deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(./img/m3_750.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
  }

  #user-registration,
  #user-login {
    border: none;
    border-radius: 0.5rem;
    width: 85%;
  }

  #car-news-heading2 {
    font-size: 1.3rem;
  }

  #footer .contact{
     width: 40%;
     font-size: 1.3rem;
  }

  #footer h4{
        font-size: 1.3rem;
        width: 25%;
  }
}

@media only screen and (max-width: 576px) {
  .navigation {
    display: none;
  }

  .hamburger-btn {
    z-index: 10;
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
  }

  .hamburger-inside {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-inside.hamburger-inside-main {
    background: rgb(231, 75, 48);
  }

  .hamburger-inside.hamburger-inside-main::before {
    background: rgb(231, 75, 48);
  }
  .hamburger-inside.hamburger-inside-main::after {
    background: rgb(231, 75, 48);
  }

  .hamburger-inside::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-inside::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hamburger-inside.open {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    background: transparent;
  }

  .hamburger-inside.open::before {
    -webkit-transform: rotate(45deg) translate(5px, 8px);
    transform: rotate(45deg) translate(5px, 8px);
  }

  .hamburger-inside.open::after {
    width: 28px;
    -webkit-transform: rotate(-45deg) translate(3px, -7px);
    transform: rotate(-45deg) translate(3px, -7px);
  }

  .small-nav {
    height: 100vh;
    background: #272727;
    opacity: 0.9;
    display: none;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }

  .small-nav.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
  }

  .small-nav-item {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    border-radius: 10px;
  }

  .small-nav-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .small-nav-item a {
    color: white;
  }

  .authentification-buttons:last-child {
    margin-right: 2rem;
  }

  #user-registration,
  #user-login {
    border: none;
    border-radius: 0.5rem;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #main-image-content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 35%;
  }
  
  #main-image-content h1 {
    font-size: 2.2rem;
    letter-spacing: 1.5px;
  }
  
  #main-image-content p {
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
  }
  
  #main-image-content .line {
    width: 40%;
    height: 2px;
    background-color: white;
    margin-bottom: 3rem;
  }
  
  #main-image-content a {
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    background-color: rgb(88, 106, 206);
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0.5rem 1rem;
  }



  #car-news{
      display: block;
      height: auto;
  }

  #car-news .text-content{
    width: 100%;
    height: 30rem;
  }

  #car-news .image{
    width: 100%;
    height: auto;
  }

  #about{
      display: block;
      height: auto;
  }

  #about .about-image{
      display: none;
  }

  #about .about-text{
      width: 100%;
  }

  #footer{

  }

}

/* 
    
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
